.header{
    width: 100%;
    min-height: 175px;
    border:1px solid black;
    position: relative;
}
.logo__image{
    position: absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%)
}
.header__list{
    position: absolute;
    top:50px;
    right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border:1px solid black;
    width: 220px;
}
.header__menu-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color:rgba(0, 0, 0, 1);

    &:hover{
        color: rgba(66, 180, 202, 1);

    }
}