@font-face{
    font-family:'Arial';
    src:url('src/assets/fonts/Arial/ARIAL.TTF' );
}
@font-face{
    font-family:'Inter';
    src:url('src/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
}